<head>
  <link rel='stylesheet' href='/styles/notes.css'> 
  <script src="/scripts/notes.js"></script>
</head>

<body>
  <div class="frontpage">
	{{#each Dir}}
	  <div class="category-card" id={{this.name}} 
		style="background-image:url('{{this.img}}')">
		<a href='{{this.path}}'>
		  <h1>{{this.name}}</h1>
		  <h2>{{this.path}}</h2>
		  <h3>{{this.img}}</h3>
		</a>
	  </div>
	{{/each}}
  </div>
</body>
